@charset "utf-8";
/* CSS Document */

#left{
	height: 550px;
	background: #000000;
	width: 0%;
	float: left;
	
}




#right{
	height: 550px;
	background: #8E5F95;
	width: 100%;
	float: right;
}



	
#title{
	text-align: center;
	margin-top: 175px;
	margin-left: -27px;
	font-family: "二字元风波嘟嘟简";
	font-size: 62px;
	position:relative;
}

#title2{
	font-family: "方正趣宋简体";
	font-style: normal;
	font-weight: lighter;
	font-size: 24px;
	margin-left: 37%;
	margin-top: -22px;
	position:relative;
}








#nav a:link,a:visited{
	font-family: "方正喵呜体";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	margin-left: 560px;
	margin-top: 37px;
	color: #87009F;
	display: block;
	position:relative;
}	
	
	
	
	
#footer{
	height: 50px;
	background: #8E5F95;
	clear: both;	
	
}	
	
	
	
